@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    margin: 0;
    font-family: Nunito;
}

/* Landing Page begin */

:root {
    --darker-purle: rgba(105, 157, 238, 1);
    --lighter-purple: rgba(167, 199, 255, 1);
    --off-white-background: rgba(252, 253, 255, 1);
    --dark-grey: rgba(68, 68, 68, 1);
    --button-blue: rgba(55, 125, 255, 1);

}

.landing-page {
    padding-inline: 12%;
}

/* Navbar begin */

.navbar {
    font-weight: 400;
    font-size: 15px;
    line-height: 27.28px;
    color: var(--dark-grey);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 25px;
    margin-block: auto;
}

.navbar > a:hover {
    font-weight: 800;
}

/* Navbar end */

/* Middle Begin */

.middle-1 {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.paragraphs-middle {
    margin-top: 20px;
}

.bold-para-middle {
    font-size: 35px;
    line-height: 37px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;

    color: var(--darker-purle);
}

.regular-para-middle {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: justified;
    margin-right: 60px;
    margin-bottom: 0;
}

.man-landing {
    height: 290px;
}

.middle-2 {
    display: flex;
    justify-content: space-between;
}

.middle-button {
    background-color: var(--darker-purle);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding-inline: 15px;
    height: 30px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.middle-2 > img {
    width: 33%;
}

/* Middle End */
/* Landing Page end */

/* Login Page Begin */

.loginpage {
    display: flex;
    height: 570px;
}

/* Left Side */

.left-login {
    background-color: var(--lighter-purple);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.left-login > img {
    width: 80px;
    margin-inline: auto;
}

.login-box {
    height: 350px;
    width: 300px;
    background-color: var(--off-white-background);
    margin-inline: auto;
    border-radius: 6px;
    text-align: center;
    color: var(--dark-grey);
}

.login-box > p {
    font-weight: 600;
    margin-block: 30px;
}

.login-input {
    width : 80%;
    padding-inline: 9px;
    padding-block: 11px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: solid 1px black;
}

.login-input:focus {
    outline: none;
}

.login-form-end {
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
}

.rememberme, .forgotpass {
    font-weight: 300;
    font-size: 12px;
    vertical-align: middle;
    margin-block: auto;
}

.forgotpass {
    color: var(--button-blue);
    margin-right: 5px;
}

#rememberme {
    margin-right: 6px;
    vertical-align: middle;
}

.sign-in-button {
    background-color: var(--button-blue);
    color: white;
    border: none;
    width: 88%;
    padding-block: 9px;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: 200;
}

.sign-in-button:hover {
    cursor: pointer;
}

.no-account {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
    font-size: 13px;
    margin-top: 10px;
}

.no-account > a {
    margin-block: auto;
    color: var(--button-blue);
}

/* Right Side */

.right-login {
    background-color: var(--off-white-background);
    display: flex;
    justify-content: center;
    /* width: 50%; */
    padding: 60px;
}


/* Login Page End */



/* Create Account Begin */

.create-account {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 570px;
}

.create-acc-box {
    width: 300px;
    background-color: var(--off-white-background);
    margin-inline: auto;
    border-radius: 6px;
    text-align: center;
    color: var(--dark-grey);
    padding-inline: 30px;
    padding-bottom: 30px;
}

.create-acc-box > p {
    font-weight: 600;
    margin-block: 30px;
}

.left-create-acc {
    background-color: var(--lighter-purple);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-block: 30px;
}

.create-acc-input {
    padding-inline: 9px;
    padding-block: 11px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: solid 1px black;
    width: 90%;
}

.left-create-acc > img {
    width: 80px;
    margin-inline: auto;
}

.create-acc-buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
}

.next, .back {
    padding-block: 7px;
    padding-inline: 35px;
    border-radius: 6px;
}

.back {
    border: 1px solid var(--button-blue);
    color: var(--dark-grey);
    background-color: var(--off-white-background);
}

.next {
    background-color: var(--button-blue);
    border: none;
    color: white;
}