@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    margin: 0;
    font-family: Nunito;
}

/* Landing Page begin */

:root {
    --darker-purle: rgba(105, 157, 238, 1);
    --lighter-purple: rgba(167, 199, 255, 1);
    --off-white-background: rgba(252, 253, 255, 1);
    --dark-grey: rgba(68, 68, 68, 1);
    --button-blue: rgba(55, 125, 255, 1);
    --button-lighter-blue: rgb(82, 141, 251);

}

.landing-page {
    padding-inline: 12%;
}

/* Navbar begin */

.navbar {
    font-weight: 400;
    font-size: 15px;
    line-height: 27.28px;
    color: var(--dark-grey);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 25px;
    margin-block: auto;
}

.navbar > a:hover, .login-button:hover {
    font-weight: 800;
    cursor: pointer;
}

.login-button {
    background-color: white;
    border: none;
    font-family: Nunito;
    font-weight: 400;
    font-size: 15px;
    line-height: 27.28px;
    color: var(--dark-grey);
}

.popup, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 70%; */
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    /* padding: 14px 28px; */
    border-radius: 3px;
    max-width: 500px;
    /* max-height: 500px; */
    /* min-width: 300px; */
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: white;
    border: none;
    font-size: 30px;
}

.popuppass {
    z-index: 3;
}


/* Navbar end */

/* Middle Begin */

.middle-1 {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.paragraphs-middle {
    margin-top: 20px;
}

.bold-para-middle {
    font-size: 35px;
    line-height: 37px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;

    color: var(--darker-purle);
}

.regular-para-middle {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: justified;
    margin-right: 60px;
    margin-bottom: 0;
}

.man-landing {
    height: 290px;
}

.middle-2 {
    display: flex;
    justify-content: space-between;
}

.middle-button {
    background-color: var(--darker-purle);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding-inline: 15px;
    height: 30px;
    margin-top: 20px;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.middle-2 > img {
    width: 33%;
}

/* Middle End */
/* Landing Page end */

/* Login Page Begin */

.loginpage {
    display: flex;
    /* height: 500px; */
}

/* Left Side */

/* .left-login {
    background-color: var(--lighter-purple);
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 6px;
}

.left-login > img {
    width: 80px;
    margin-inline: auto;
} */

.login-box {
    /* height: 400px; */
    width: 350px;
    background-color: var(--off-white-background);
    margin-inline: auto;
    border-radius: 6px;
    text-align: center;
    color: var(--dark-grey);
    margin: 0;
    padding-bottom: 20px;
}

.login-box > p {
    font-weight: 600;
    margin-block: 30px;
}

.login-input {
    width : 80%;
    padding-inline: 9px;
    padding-block: 11px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: solid 1px black;
}

.login-input:focus {
    outline: none;
}

.login-form-end {
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
}

.rememberme, .forgotpass {
    font-weight: 300;
    font-size: 12px;
    vertical-align: middle;
    margin-block: auto;
}

.forgotpass {
    color: var(--button-blue);
    margin-right: 5px;
}

#rememberme {
    margin-right: 6px;
    vertical-align: middle;
}

.sign-in-button {
    background-color: var(--button-blue);
    color: white;
    border: none;
    width: 88%;
    padding-block: 9px;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: 200;
}

.sign-in-button:disabled {
    background-color: grey;
}

.sign-in-button:hover {
    cursor: pointer;
}

.no-account {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
    font-size: 13px;
    margin-top: 10px;
}

.no-account > a {
    margin-block: auto;
    color: var(--button-blue);
}

/* Right Side */

/*
.right-login {
    background-color: var(--off-white-background);
    display: flex;
    justify-content: center;
    width: 50%; 
    padding: 60px;
}

*/


/* Login Page End */



/* Create Account Begin */

.create-account {
    display: flex;
    width: 100%;
    height: 460px;
}

.setpass {
    height: 350px;
}

.create-acc-box {
    width: 300px;
    background-color: var(--off-white-background);
    margin-inline: auto;
    border-radius: 6px;
    text-align: center;
    color: var(--dark-grey);
    padding-inline: 30px;
    padding-bottom: 30px;
}

.acc-created {
    height: 200px;
}

.green-tick {
    height: 50px;
}

.create-acc-box > p {
    font-weight: 600;
    margin-block: 30px;
}

.left-create-acc {
    background-color: var(--lighter-purple);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-block: 30px;
}

.create-acc-input {
    padding-inline: 9px;
    padding-block: 11px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: solid 1px black;
    width: 90%;
}

.left-create-acc > img {
    width: 80px;
    margin-inline: auto;
}

.create-acc-buttons {
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
}

.next, .back {
    padding-block: 7px;
    padding-inline: 35px;
    border-radius: 6px;
}

.back {
    border: 1px solid var(--button-blue);
    color: var(--dark-grey);
    background-color: var(--off-white-background);
    cursor: pointer;
}

.next {
    background-color: var(--button-blue);
    border: none;
    color: white;
    cursor: pointer;
}

.next:disabled {
    background-color: grey;
}


/* Create account end */

/* Audio Input Begin */

.audio-input {
    display: flex;
    /* margin-top: 30px; */
    height: 100vh;
}

/* Left side begin */

.left-audio {
    background-color: var(--lighter-purple);
    width: 200px;
    height: 100vh;
}

.left-audio > img {
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

.left-audio > p, .meetings-link, .home-link {
    color: white;
    margin-left: 20px;
    font-size: 15px;
    margin-block: 7px;
    text-decoration: none;
}

.meetings-link :visited, .home-link:visited {
    text-decoration: none;
}

.white-hr {
    border: 1px solid white;
} 

.blue-hr {
    border: 1px solid var(--darker-purle);
}




/* Right side audio */

.right-audio {
    width: 100%;
    height: 100vh;
}

.right-audio > hr {
    margin-top: 64px;
}

.select-lang-div {
    display: flex;
    justify-content: center;
}

.select-language {
    padding: 5px;
}


.date {
    margin-left: calc(100vw - 350px);
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}

.transcript {
    margin-left: 25px;
    margin-right: 35px;
}

.transcript-head-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.transcript-head-flex > h3 {
    margin: 0;
    vertical-align:auto;
}

.transcript-head-flex > p {
    margin: 0;
}

.transcript > hr {
    margin: 0;
    /* padding: 0; */
}

.transcript-bottom-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.input > img {
    width: 150px;
}

.slider-box {
    height: 40px;
    width: 600px;
    padding-inline: 10px;
    background-color: lightgray;
    border-radius: 12px;
    display: flex;
    padding-block: auto;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    margin-inline: auto;
}

.slider-box > img {
    height: 20px;
}

.caption-save > img {
    height: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

.slider-box > p {
    color: white;
    font-weight: 500;
}

.slider {
    height: 5px;
    background-color: white;
    width: 60%;
    border-radius: 2.5px;
}

.rec-img {
    display: flex;
    justify-content: space-around;
    margin-inline: 90px;
    margin-top: 30px;
}

.start-record, .stop-record, .pause-record {
    border: none;
    background-color: none;
    padding: 0;
    height: 40px;
}

.record-button > img {
    width: 40px;
}


/* Home Page Begin */
.right-home > hr {
    margin-top: 0;
}

.right-home > h2 {
    margin-block: 15.5px;
    margin-left: 10px;
    margin-right: 68vw;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 15.5px;
}

.home-header > * {
    margin-block: auto;
}

/* Meetings */
.meetings-head-right > * {
    margin-left: 30px;
    cursor: pointer;
}

.meetings-head-button {
    padding: 5px 13px;
    background-color: white;
    border: 1px solid var(--button-blue);
    border-radius: 5px;
    color: var(--dark-grey);
}

.record-meetings-button {
    background-color: var(--button-blue);
    color: white;
    border: none;
    padding: 5px 13px;
    border-radius: 5px;
    cursor: pointer;
}

.home-record {
    font-size: 13px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-right: 2vw;
    background-color: var(--button-blue);
    border: none;
    color: white;
    border-radius: 3px;
}

.home-record:hover {
    background-color: var(--button-lighter-blue);
}

.home-profile {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--button-blue);
    border: none;
}

/* Profile Component  */
.profile-component {
    /* border: 1px solid black; */
    padding: 5px;
    width: 150px;
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0;
    right: 10px;
    box-shadow: 0 0 7px var(--dark-grey);
}

.profile-component > p, .profile-component > h3, .profile-component > hr { 
    margin-block: 5px;
}



.profile-component > a, .log-out-atag {
    display: block;
    text-decoration: none;
    color: black;
    margin-block: 5px;
    font-size: 14px;
}

.email {
    font-size: 14px;
}


/* Audio  */


.container {
    margin-inline: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding-left: 25px;
    margin-top: 30px;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.box {
    width: 1000px;
    height: 300px;
    border: 0.5px solid rgb(110, 110, 110);
    overflow: auto;
}

.box > h2 {
    margin-bottom: 0;
}


.audio-button-flex {
    display: flex;
    justify-content: center;
    margin-top: 0;
    gap: 50px;
}

.audio-start, .audio-stop {
    background-color: #2A9BD7;
    padding-block: 5px;
    padding-inline: 7px;
    border: none;
    border-radius: 30px;
    color: white;
}

.audio-stop {
    background-color: red;
}

.copy-to-clipboard-button {
    padding: 5px;
    margin-left: calc(100vw - 360px);
    color: white;
    background-color: #6fcdff;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.audio-button-flex > button:hover {
    box-shadow: 0 0 5px grey;
}

.start-record-button-img, .stop-record-button-img {
    height: 25px;
    width: 25px;
    margin: 0;
}



.audio-button-flex >button:disabled, .box > button:disabled {
    background-color: grey;
}

.box > button {
    padding: 5px 7px;
}

.slider-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.slider-container > input {
    width: 800px;
}





